/.vs/QtWidgetsApplication/v15
/Debug
/DockWin/Debug
/DockWin/Release
/DragObject/Debug
/DragObject/Release
/JsWithCpp/Debug
/JsWithCpp/Release
/carouselLabel/Debug
/carouselLabel/Release
/changeUserInfo/Debug
/changeUserInfo/Release
/clickedAnimation/Debug
/clickedAnimation/Release
/floatingWin/Debug
/floatingWin/Release
/frameLessScale/Debug
/frameLessScale/Release
/paintEvent/Debug
/paintEvent/Release
/marqueeLabel/Debug
/marqueeLabel/Release
/moveWidget/Debug
/moveWidget/Release
/rollingBox/Debug
/rollingBox/Release
/SysteamTrayTest/Debug
/SysteamTrayTest/Release
/chatMessageWidget/Debug
/chatMessageWidget/Release
/SysteamTrayTest/common.ini
/progress/Debug
/progress/Release
/animation/Debug
/animation/Release
/pinyin/Debug
/pinyin/Release
/GraphicsEffect/Debug
/GraphicsEffect/Release
/chatBubbe/Debug
/chatBubbe/Release
/suspensionSlide/Debug
/suspensionSlide/Release
/Lrc/Debug
/Lrc/Release
/Clock/Debug
/Clock/Release
/DockWin/x64
/banner/Debug
/banner/Release
/Verification/Debug
/Verification/Release
/IconPanel/Debug
/IconPanel/Release
/slidepuzzlewidget/Debug
/slidepuzzlewidget/Release
/progress/x64
/LineEdit/Debug
/LineEdit/Release

