QListWidget
{
    outline:0px;    /*去除item虚线框*/
	border-radius:20px;
	background: rgba(50,52,58,1);
	padding-top:10px;
	padding-bottom:10px;
}

QListWidget::item
{
	margin-top:4px;
	margin-bootom:4px;
	height:56px;
}

QListWidget::item:selected
{
    border-radius:8px;
    background:rgba(2, 3, 2, 0);
}

QListWidget::item:hover
{
    border-radius:8px;
    background-color:rgba(2, 3, 2, 0.15);
}